@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #a3a3a3;
}
:-moz-placeholder {
    color: #a3a3a3;
}
.placeholder {
    color: #a3a3a3;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 1000px;
    overflow: hidden;
    position: relative;
    background: #f6f6f6 url("../img/site-bg.png") no-repeat top center;
    background-position-y:120px;
    z-index: 1;
    color: #000;
    font-family: "Open Sans", sans-serif;
    cursor: default;
}
.site_personal{
    background: #fff;
}
a{
    color: #000;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 62px;
}
.site:before{
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 190px;
}
.site__content {
    position: relative;
    z-index: 2;
    width: 959px;
    margin: 36px auto 0;
    line-height: 20px;
}
.site__header {
    position: absolute;
    left: 0;
    right: 0;
    height: 182px;
    z-index: 3;
    background: #fff;
    transform: translateY(-182px);
    -webkit-transform: translateY(-182px);
    transition: transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
}
.site__header-wrap{
    position: relative;
    width: 959px;
    margin: 0 auto;
}
.site__header-town{
    position: absolute;
    top: 57px;
    left: 43.3%;
    font-size: 16px;
    color: #2d2d2d;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.site__header-town a{
    color: #e41717;
    text-decoration: underline;
    margin-left: 5px;
}
.site__header-town a:hover{
   text-decoration: none;
}
.site__header_personal{
    height: 135px;
    margin-bottom: 19px;
    border-bottom: 1px solid #f4f4f4;
}
.site__header_personal .hot-line{
    top: 44px;
    right: 0;
}
.site__header_personal .logo{
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 62px;
    border-top: 2px solid #f4f4f4;
    background: #f7f7f7;
}
.site__footer-layout {
    position: relative;
    width: 970px;
    height: 62px;
    margin: 0 auto;
    padding-top: 23px;
}
.site__footer-copywriting{
    font-size: 12px;
    color: #343434;
    text-transform: uppercase;
}
.site__footer-link{
    position: absolute;
    right: 23px;
    top: 20px;
    width: 88px;
    height: 15px;
}
.site__title{
    display: inline-block;
    padding: 24px 0 23px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
a.site__title:hover{
    opacity: .7;
}
.site__title span{
    color: #e41717;
}

/* --------------- /site --------------- */
.header__menu{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    border-top: 1px solid #f4f4f4;
    box-shadow: 1px 1px 5px #f4f4f4;
}
.header__menu-wrap{
    position: relative;
    width: 959px;
    margin: 0 auto;
}
.header__menu-wrap .active,
.header__menu-item:hover{
    border-bottom: 4px solid #e41717;
}
.header__menu-item{
    display: inline-block;
    vertical-align: middle;
    padding: 19px 20px 16px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    transition: border .3s ease;
    -webkit-transition: border .3s ease;
}
.header__menu_pay{
    color: #e41717;
}
.header__menu_personal{
    position: absolute;
    right: 0;
    padding-left: 24px;
    padding-right: 7px;
}
.header__menu_personal:before{
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    background: url(../img/personal-area.png) center;
    content: "";
}
.fixed{
    position:fixed;
    z-index: 5;
    top:0;
    left:0;
    width:100%;
    height: 150px;
    border-top: 5px solid #e41717;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.fixed .logo {
    top: 8px;
}
.fixed .logo img {
    width: 55px;
}
.fixed .hot-line__call,
.fixed .site__header-town,
.fixed .social{
    display: none;
}
.fixed .hot-line .btn{
    display: block;
}
.fixed .logo__name span:first-child {
    font-size: 23px;
}
.fixed .logo__name span:last-child {
    font-size: 10px;
}
.fixed .hot-line{
    top: 9px;
    right: 0;
}

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 25px;
    left: -3px;
}
.logo img{
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    margin-right: 15px;
}
.logo__name{
    display: inline-block;
    vertical-align: middle;
    width: 180px;
}
.logo__name span{
    display: block;
}
.logo__name span:first-child{
    margin-bottom: 5px;
    font-size: 32px;
    color: #e41717;
    font-weight: 600;
    text-transform: uppercase;
}
.logo__name span:last-child{
    font-size: 13px;
    line-height: 16px;
}
/* --------------- /logo --------------- */

/* --------------- social --------------- */
.social{
    position: absolute;
    top: 40px;
    right: 0;
}
.social a{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}
.social a:hover{
    opacity: .7;
}
.social-v{
   background: #577da5 url("../img/social-v.png") no-repeat center;
   background-size: 11px 14px;
}
.social-in{
    background: #577da5 url("../img/social-in.png") no-repeat center;
    background-size: 22px 22px;
}
/* --------------- /social --------------- */

/* ----------------- sites ----------------- */
.sites{
    position: absolute;
    top: -205px;
    height: 212px;
    left: 0;
    right: 0;
    background: #e41717;
    text-align: center;
    z-index: 10;
    transition: top .3s ease;
    -webkit-transition: top .3s ease;
}
.sites.active{
    top: 0;
}
.sites > div{
    position: relative;
    height: 212px;
    max-width: 960px;
    margin: 0 auto;
}
.sites > div > a{
    display: inline-block;
    width: 150px;
    margin: -2px 10px;
    border: 2px solid transparent;
    transition: border-color .3s ease;
    -webkit-transition: border-color .3s ease;
}
.sites > div > a:hover{
    border-color: #fff;
}
.sites > div > a img{
    display: block;
    width: 100%;
}
.site__our-title{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 143px;
    height: 25px;
    padding-top: 4px;
    margin-left: -54px;
    margin-bottom: 20px;
    border-radius: 0 0 5px 5px;
    background: #e41717;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: height .3s ease;
}
.site__our-title span{
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
}
.site__our-title:hover{
    height: 28px;
}
.steel:hover{
    height: 34px
}
.site__our-title:hover span{
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
}
.steel:hover span{
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.sites__close{
    position: absolute;
    top: 21px;
    right: 15px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url("../img/icons-close.png");
    z-index: 9;
    transition: box-shadow .3s ease;
    -webkit-transition: box-shadow .3s ease;
    cursor: pointer;
}
.sites__close:hover{
    box-shadow: 0 0 10px #fff;
}
.sites .site__title{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
.sites .site__title span{
    color: #fff;
}
.sites .site__title span::before,
.sites .site__title span::after{
    top: 19px;
    height: 3px;
    background-color: #fff;
}
/* ----------------- /sites ----------------- */

/* --------------- btn --------------- */
.btn{
    display: inline-block;
    padding: 10px 54px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #e41717;
    text-align: center;
    transition: background .3s ease;
    -webkit-transition: background .3s ease;
    cursor: pointer;
}
.btn_1{
    padding: 11px 40px;
}
.btn:hover{
   background: #EB6F6F;
}
/* --------------- /btn --------------- */

/* --------------- request --------------- */
.request{
    margin-bottom: 23px;
}
.request__make{
    display: table-cell;
    width: 678px;
    padding: 26px 0 15px;
    background: #fff;
    border: 1px solid #bcbcbc;
    box-shadow: 0 3px 5px #bcbcbc;
    text-align: center;
}
.request__space{
    display: table-cell;
    width: 10px;
    background: transparent;
}
.request__stock{
    display: table-cell;
    width: 271px;
    padding: 200px 0;
    background: #fff no-repeat right bottom;
    background-position-x: 142%;
    border: 1px solid #bcbcbc;
    box-shadow: 0 3px 5px #bcbcbc;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    /*cursor: pointer;*/
}
/*.request__stock:hover{
    opacity: .7;
}*/
.request__sum{
    margin-bottom: 25px;
    color: #a3a3a3;
    font-size: 18px;
    text-align: left;
}
.request__sum span{
    color: #000;
    font-weight: 600;
}
.request__selection{
    margin-bottom: 26px;
    padding: 0 28px;
}
.request__selection-line{
    position: relative;
    width: 100%;
    height: 8px;
    margin-bottom: 12px;
    border-radius: 5px;
   /* background: #ededed;*/
   /* cursor: pointer;*/
}
/*.request__selection-line div{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #eb5151;
}
.request__selection-line div:after{
    position: absolute;
    top: -10px;
    right: -13px;
    width: 27px;
    height: 33px;
    background: url("../img/select.png") no-repeat center;
    content: "";
}*/
.noUi-horizontal .noUi-handle {
    width: 0;
    height: 0;
    left: -5px;
    top: -6px;
    border: none;
}
.noUi-horizontal .noUi-handle:after {
    position: absolute;
    top: -5px;
    left: -8px;
    width: 27px;
    height: 33px;
    background: url("../img/select.png") no-repeat center;
    content: "";
    cursor: pointer;
}
.noUi-horizontal .noUi-handle:before{
    display: none;
}
.noUi-target.noUi-connect {
    width: 100%;
    height: 100%;
    background: #e41717;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.noUi-origin {
    background: #ededed;
    right: -1px;
    border-radius: 5px;
}
.request__selection-greed{
    position: relative;
    height: 11px;
    margin-bottom: 1px;
    text-align: justify;
 }
.request__selection-greed:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.request__selection-greed span{
    display: inline-block;
    vertical-align: top;
    width: 1px;
    height: 10px;
    background: #ededed;
}
.request__selection-greed div{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #9d9d9d;
}
.request__result{
    padding: 11px 35px 0;
    border-top: 1px solid #ededed;
    text-align: justify;
}
.request__result:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.request__result div{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 26%;
    font-size: 14px;
    line-height: 25px;
}
.request__result span{
    display: block;
    font-size: 16px;
    font-weight: 600;
}
.request__result span.pay-sum{
    display: inline-block;
}
.request__result div:first-child{
    padding-left: 43px;
}
.request__result div:first-child:before{
    position: absolute;
    top: 10px;
    left: -5px;
    width: 36px;
    height: 29px;
    background: url("../img/money-icon.png") no-repeat center;
    content: "";
}
/* --------------- /request --------------- */

/* --------------- hot-line --------------- */
.hot-line{
    position: absolute;
    top: 31px;
    right: 123px;
    text-align: right;
}
.hot-line__tell{
    display: block;
    margin-bottom: 12px;
    font-size: 24px;
    color: #191919;
    cursor: default;
}
.hot-line__tell span{
    font-size: 16px;
    color: #6c6c6c;
}
.hot-line__call{
    position: relative;
    padding-left: 25px;
    color: #e41717;
    text-decoration: underline;
}
.hot-line__call:hover{
    text-decoration: none;
}
.hot-line__call:before{
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background: url("../img/hot-line.png") no-repeat center;
    content: "";
}
.hot-line .btn{
    display: none;
}
/* --------------- /hot-line --------------- */

/* --------------- services --------------- */
.services{
    margin-bottom: 45px;
    border: 1px solid #bcbcbc;
    background: #fff;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 3px 5px #bcbcbc;
}
.services__wrap{
    display:table;
    width: 100%;
    border-top: 1px solid #f4f4f4;
    line-height: 40px;
}
.services__item{
    display:table-cell;
    width: 20%;
    padding: 32px 0 5px;
    border-left: 1px solid #f4f4f4;
}
.services__wrap .services__item:first-child{
    border-left: none;
}
.services__item-pic{
    width: 100%;
    height: 50px;
    margin-bottom: 12px;
    background: no-repeat center;
}
.services__item-name{
    margin-bottom: 4px;
    color: #e41717;
    font-weight: 600;
    text-transform: uppercase;
}
.services__item>span{
    display: block;
    margin-bottom: 16px;
}
.services__item span span{
    font-weight: 600;
    font-size: 26px;
}
.services__item span.services__item-line {
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 2px solid #f6f6f6;
}
span.services__item-before{
    line-height: 28px;
    margin-bottom: 0;
}
/* --------------- /services --------------- */

/* --------------- news --------------- */
.news{
    display: table;
    width: 100%;
    margin-bottom: 39px;
}
.news .site__title {
    padding: 29px 0 20px;
}
.news__col{
    position: relative;
    display: table-cell;
    vertical-align: top;
    width: 478px;
    border: 1px solid #bcbcbc;
    box-shadow: 0 3px 5px #bcbcbc;
    background: #fff;
    text-align: center;
}
.news__col_first{
    width: 455px;
}
.news__item_space{
    width: 12px;
    border: none;
    box-shadow: none;
    background: transparent;
}
.news__item{
    padding: 0 12px 16px;
    margin: 0 16px 10px;
    border-bottom: 1px solid #f4f4f4;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.news__item p{
    line-height: 26px;
}
.news__col .news__item:last-child{
    margin-bottom: 57px;
    border-bottom: none;
}
.news__col_first .news__item:last-child{
    margin-bottom: 20px;
}
.news__item h3{
    font-size: 16px;
    text-transform: uppercase;
    line-height: 26px;
}
.news__item time{
    display: block;
    margin-bottom: 1px;
    font-size: 12px;
    color: #868686;
}
.news__pic{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.news .all-news{
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    border-top: 2px solid #f6f6f6;
    color: #e41717;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}
.news .all-news:hover{
    text-decoration: underline;
}
/* --------------- /news --------------- */

/* --------------- reviews --------------- */
.reviews{
    margin-bottom: 45px;
    padding: 4px 33px 38px;
    border: 1px solid #bcbcbc;
    box-shadow: 0 3px 5px #bcbcbc;
    background: #fff;
    text-align: center;
}
.reviews__wrap{
    position: relative;
    padding: 0 60px;
}
.reviews__layout{
    padding: 32px 29px 0;
    text-align: left;
}
.reviews__layout p{
    position: relative;
    margin-bottom: 34px;
    font-style: italic;
    color: #000;
}
.reviews__layout p:after,
.reviews__layout p:before{
    position: absolute;
    width: 21px;
    height: 14px;
    background: url("../img/reviews-before.png") no-repeat center;
    content: "";
}
.reviews__layout p:before{
    left: -24px;
    top: -16px;
}
.reviews__layout p:after{
    right: 0;
    bottom: -4px;
    background: url("../img/reviews-after.png") no-repeat center;
}
.reviews__name{
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    color: #000;
    text-align: center;
}
.reviews time{
    display: block;
    font-size: 13px;
    color: #868686;
    text-align: center;
    text-transform: uppercase;
}
.reviews__next, .reviews__prev {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width: 14px;
    height: 44px;
    background: url("../img/reviews-prev.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
}
.reviews__prev {
    left: 0;
}
.reviews__next {
    background: url("../img/reviews-next.png") no-repeat center;
    background-size: contain;
    right: 0;
}
.reviews__pagination{
    display: block;
    position: relative;
    bottom: -15px;
    top: auto;
    z-index: 2;
    text-align: center;
}
.reviews__pagination span{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border-radius: 50%;
    margin-left: 13px;
    cursor: pointer;
    -webkit-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.reviews__pagination span:before{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #bcbcbc;
    content: "";
}
.reviews__pagination span:first-child{
    margin-left: 0;
}
.reviews__pagination span:hover{
    background: #e41717;
    opacity: 1;
}
.reviews__pagination span:hover:before{
    display: none;
}
span.swiper-pagination-bullet-active{
    background-color: #e41717;
}
span.swiper-pagination-bullet-active{
    opacity: 1;
    cursor: default;
}
span.swiper-pagination-bullet-active:before{
    display: none;
}
/* --------------- /reviews --------------- */

/* --------------- advantages --------------- */
.advantages{
    margin-bottom: 40px;
    padding: 3px 30px 15px;
    border: 1px solid #bcbcbc;
    box-shadow: 0 3px 5px #bcbcbc;
    background: #fff;
    font-size: 14px;
    text-align: center;
}
.advantages__wrap{
    margin-top: 47px;
    text-align: justify;
}
.advantages__wrap:after{
    display: inline-block;
    width: 100%;
    content: "";
}
.advantages__item{
    display: inline-block;
    vertical-align: top;
    width: 279px;
    line-height: 23px;
    text-align: left;
}
.advantages__pic{
    position: relative;
    width: 100%;
    height: 281px;
    margin-bottom: 10px;
    background: no-repeat center;
}
.advantages__pic span{
    position: absolute;
    top: -29px;
    left: 50%;
    width: 58px;
    height: 58px;
    padding-top: 18px;
    border: 1px solid #f4f4f4;
    box-shadow: 0 1px 5px #f4f4f4;
    background: #fff;
    font-size: 23px;
    color: #cb0101;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
/* --------------- /advantages --------------- */

/* --------------- map --------------- */
.map .site__title{
    position: relative;
    padding-bottom: 26px;
}
.map .site__title img{
    margin-right: 8px;
}
#map{
    height: 450px;
}
.map__item a{
    display: none;
}
.map {
    text-align: center;
}
/* --------------- /map --------------- */

/* --------------- loans-menu --------------- */
.loans-menu{
    background: #fff;
    padding: 30px 0;
}
.loans-menu__wrap{
    position: relative;
    width: 965px;
    margin: 0 auto;
}
.loans-menu__title span{
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}
.loans-menu__title{
    margin-bottom: 22px;
    font-size: 14px;
    color: #ff1b1b;
}
.loans-menu__item{
    display: block;
    font-size: 12px;
    color: #474747;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
}
.loans-menu__item:hover{
    text-decoration: none;
}
.loans-menu nav{
    display: inline-block;
    vertical-align: top;
    margin-right: 62px;
}
.loans-menu .social {
    top: 52px;
    right: 49px;
}
.loans-menu .hot-line {
    top: 42px;
    right: 173px;
}
/* --------------- /loans-menu --------------- */

/* --------------- personal --------------- */
.personal{
    max-width: 462px;
    margin: 0 auto 175px;
    text-align: center;
}
.personal fieldset{
    text-align: left;
}
.personal input{
    width: 100%;
    height: 40px;
    font: 18px 'Open Sans';
    border-radius:3px;
    border: 1px solid #a3a3a3;;
    margin-bottom: 18px;
    padding-left: 10px;
    background: #f9f9f9;
    transition: border-color .3s ease;
    -wbkit-transition: border-color .3s ease;
}
.personal label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #a3a3a3;
}
.personal__check label {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    width: 340px;
}
.personal .personal__check input{
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
    width: 16px;
    height: 16px;
}
.personal .personal__check label {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 13px;
    color: #a3a3a3;
}
.personal__check input[type="checkbox"] + .personal__checked{
    position: absolute;
    z-index: 2;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #a3a3a3;
    background: #f9f9f9;
    cursor: pointer;
}
.personal__check-title{
    position: absolute;
    z-index: 2;
    top: -1px;
    left: 37px;
    width: 400px;
    height: 100%;
    color: #000;
}
.personal__check input[type="checkbox"]:checked + .personal__checked{
    background: #f9f9f9 url(../img/icon-right.png) no-repeat center;
}
.personal__check>span{
    padding-left:5px;
    font-weight: 400;
}
.personal__check{
    margin-bottom: 18px;
}
.forgot-password{
    display: block;
    margin-top: -9px;
    margin-bottom: 22px;
    color: #e41717;
    font-size: 16px;
    text-decoration: underline;
    text-align: left;
}
.forgot-password:hover{
    text-decoration: none;
}
.personal .site__title{
    padding-bottom: 19px;
}
/* --------------- /personal --------------- */

/* --------------- bread-crumbs --------------- */
.bread-crumbs{
    margin-bottom: 22px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.bread-crumbs a{
    position: relative;
    padding-right: 29px;
    color: #868686;
}
.bread-crumbs a:after{
    position: absolute;
    top: -5px;
    right: 9px;
    content: '»';
}
.bread-crumbs span{
    color: #e41717;
}
/* --------------- bread-crumbs --------------- */

/* --------------- text-wrap --------------- */
.text-wrap{
    margin-bottom: 40px;
    padding: 16px 21px 15px;
    border: 1px solid #bcbcbc;
    box-shadow: 0 3px 5px #bcbcbc;
    background-color: #fff;
    font-size: 14px;
    line-height: 26px;
}
.text-wrap p{
    margin-bottom: 30px;
}
.text-wrap a:hover{
    text-decoration: none;
}
.text-wrap h1{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
}
.text-wrap h2{
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
}
.text-wrap h3{
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #e41717;
}
.text-wrap__mark1 h4{
    display: inline-block;
    margin-bottom: 22px;
    padding: 7px 15px;
    border: 1px solid #ecc9c9;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #e41717;
    background-color: #fff3eb;
}
.text-wrap__mark2 h4{
    display: inline-block;
    margin-bottom: 22px;
    padding: 7px 15px;
    border: 1px solid #dadada;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #000;
    background-color: #ededed;
}
.text-wrap ul {
    margin-bottom: 30px;
    padding-top: 10px;
}
.text-wrap ul li {
    position: relative;
    margin-bottom: 24px;
    padding-left: 30px;
}
.text-wrap ul li:before{
    position: absolute;
    top: 6px;
    left: 0;
    width: 16px;
    height: 14px;
    background: url("../img/icon-list.png") no-repeat 0 0;
    content: '';
}
.text-wrap ol {
    margin-bottom: 30px;
    padding-top: 10px;
    counter-reset: list 0;
}
.text-wrap ol li {
    position: relative;
    margin-bottom: 26px;
    padding-left: 29px;
}
.text-wrap ol li:before{
    counter-increment: list;
    content: counter(list);
    position: absolute;
    top: -1px;
    left: 0;
    color: #e41717;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.text-wrap .link1{
    text-decoration: underline;
}
.text-wrap .link2{
    color: #e41717;
    text-decoration: underline;
}
.text-wrap .span1{
    color: #000;
    text-transform: uppercase;
    font-weight: 400;
}
.text-wrap .span2{
    color: #e41717;
    font-weight: 700;
}
.span1{
    color: #ffcb08;
    font-weight: 600;
}
.span2{
    color: #0095da;
    font-weight: 600;
}
.text-wrap .alignleft {
    float: left;
    margin-right: 25px;
    margin-bottom: 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border: 1px solid #dcdcdc;
}
.text-wrap .aligncenter {
    display: block;
    margin: 0 auto 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border: 1px solid #dcdcdc;
}
.text-wrap .alignright {
    float: right;
    margin-left: 25px;
    margin-bottom: 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border: 1px solid #dcdcdc;
}
.text-wrap .alignnone {
    margin: 0 25px 15px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    border: 1px solid #dcdcdc;
}
/* --------------- /text-wrap --------------- */

/* --------------- table --------------- */
.table_mark {
    width: 825px;
    margin-bottom: 30px;
}
.table_mark p{
    margin: 0;
}
.table_mark table{
    width: 100%;
}
.table_mark table td{
    vertical-align: middle;
    padding: 0 32px;
}
.table_mark thead td{
    height: 33px;
    color: #fff;
    background-color: #e41717;
}
.table_mark tbody td{
    height: 39px;
    border-bottom: 1px solid #000;
    color: #000;
}
.table_border{
    width: 825px;
    margin-bottom: 30px;
    padding: 0 1px;
    border: 1px solid #000;
    border-left-width: 3px;
    border-right-width: 3px;
}
.table_border p{
    margin: 0;
}
.table_border table{
    width: 100%;
}
.table_border table td{
    height: 39px;
    vertical-align: middle;
    padding: 0 32px;
    border: 1px solid #000;
}
.table_border thead td{
    border-top: 0;
}
.table_border tbody tr:last-child td{
    border-bottom: 0;
}
.table_main{
    width: 825px;
    margin-bottom: 30px;
}
.table_main p{
    margin: 0;
    line-height: 14px;
}
.table_main table{
    width: 100%;
}
.table_main table td{
    height: 39px;
    padding: 10px 5px;
    border-bottom: 1px solid #000;
    text-align: center;
    vertical-align: middle;
}
.table_main thead td{
    font-weight: 700;
    color: #e41717;
}
.table_main tbody tr:last-child td{
    border-bottom: 0;
}
/* --------------- /table --------------- */

/* --------------- download --------------- */
.download{
    padding-top: 25px;
}
.download__item{
    position: relative;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-left: 45px;
    text-decoration: underline;
}
.download__item:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background-image: url('../img/icons-pdf.png');
    content: '';
}
/* --------------- /download --------------- */

/* --------------- pay --------------- */
.pay{
    width: 465px;
    padding-bottom: 20px;
    background: #f6f6f6;
}
.pay__get{
    font-family: "Open Sans", sans-serif;
}
.pay__logo{
    position: relative;
    height: 45px;
    margin-bottom: 53px;
    background: #030303;
}
.pay__logo img{
    position: absolute;
    width: 78px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.pay__means a{
    display: inline-block;
    margin-bottom: 23px;
    font-size: 12px;
    color: #000;
    text-decoration: underline;
}
.pay__means a:hover{
    text-decoration: none;
}
.pay__means{
    padding-left: 16px;
    text-align: left;
}
.pay__means-pic{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 20px;
}
.pay__get{
    font-size: 14px;
    margin-bottom: 15px;
}
.pay__get label{
    margin-right: 15px;
    color: #a3a3a3;
}
.pay__number{
    text-align: right;
    padding-right: 38px;
    color: #030303;
}
.pay__get input{
    width: 43px;
    height: 40px;
    margin: 0 8px;
    font: 14px 'Open Sans';
    border-radius:3px;
    border: 1px solid #a3a3a3;;
    margin-bottom: 18px;
    background: #fff;
    text-align: center;
    transition: border-color .3s ease;
    -wbkit-transition: border-color .3s ease;
}
.pay__number input:last-child{
    width: 115px;
}
.pay__surname input{
    width: 256px;
    padding-left: 10px;
    margin-bottom: 15px;
    text-align: left;
}
.pay__surname{
    text-align: right;
    padding-right: 27px;
}
.pay__information{
    overflow: hidden;
    width: 429px;
    height: 42px;
    margin-left: 21px;
    margin-bottom: 6px;
    border: 1px solid #E1DCDC;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    color: #000;
    text-align: left;
}
.pay__information div{
    display: inline-block;
    vertical-align: middle;
    width: 97px;
    height: 100%;
    padding: 12px 0 0 14px;
    margin-right: 16px;
    background: #fff3eb;
    font-weight: 700;
}
.pay__sum{
    margin: 15px 0 23px 20px;
    font-size: 14px;
    color: #3f3f3f;
    text-transform: uppercase;
    text-align: left;
}
.pay__sum input{
    width: 84px;
    height: 28px;
    margin: 0 10px;
    padding-left: 10px;
    border-radius:3px;
    font-size: 14px;
    color: #3f3f3f;
    border: 1px solid #a3a3a3;
}
.pay__selection-line{
    position: relative;
    width: 100%;
    padding: 0 20px;
    height: 5px;
    margin-bottom: 12px;
    border-radius: 5px;
}
.pay .request__selection-greed{
    padding: 0 20px;
    color: #CACACA;
}
.pay .noUi-origin {
    background: #CACACA;
}
.pay .noUi-horizontal .noUi-handle:after {
    top: 3px;
    left: 5px;
    width: 15px;
    height: 18px;
    background: url("../img/select-red.png") no-repeat center;
}
.pay .request__selection-greed span {
    height: 7px;
}
.pay .btn{
    padding: 11px 36px;
}
.request-send input{
    visibility: hidden;
    opacity: 0;
}
/* --------------- /pay --------------- */

/* --------------- popup--------------- */
.popup {
    display: block;
    background: rgba( 0,0,0,.6 );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    font-family: "Open Sans";
    -webkit-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}
.popup.popup_opened {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
}
.popup__wrap {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.popup__wrap > div {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    vertical-align: middle;
    text-align: center;
    width: 465px;
    color: #fff;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}
.popup__content {
    display: none;
    text-align: center;
    position: relative;
    max-width: 465px;
    margin: 0 auto;
    width: 100%;
    -webkit-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}
.popup__close {
    display: block;
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url("../img/close.png") no-repeat center;
    cursor: pointer;
}
/* --------------- /popup --------------- */